

.gato{

text-align: center;

}



body{
   
background-color: aquamarine

}


.gatito{


    color:;
    font-size:35px;
    
}


.listitas{

text-align: left ;
font-size: 20px;





}







img{

width:500px;
border-radius: 50px;
border-width:15px;
border-color:red;
border-style: double;  





}
p{

    text-align: center ;
}
